<h1>Save the URLs!</h1>

<form>
  <input type="text" class="URL" placeholder="Enter URL here" value="">
  <input type="text" class="title" placeholder="Enter title here" value="">
  <input type="text" class="tag" placeholder="Enter tag here" value="">
</form>

<button name="button" class="save-URL">Save the URL!</button>
