<form>
  <input type="text" class="title" placeholder="Title goes here">
  <textarea class="body" placeholder="Post goes here" rows="8" cols="40"></textarea>
</form>
<button name="button" class="submit-post">Submit</button>

<h1>GIRLS DON'T LIKE BOYS GIRLS LIKE CARS AND MONEY</h1>
