<h2>no</h2>

<form>
  <input type="text" class="first_name" value="" placeholder="first name">
  <input type="text" class="last_name" value="" placeholder="last name">
  <input type="text" class="address" value="" placeholder="address">
  <input type="text" class="phone_number" value="" placeholder="phone number">
</form>

<button name="button" class="submit-person"></button>
